'fileTypes': [
  # http://www.devrs.com/gb/files/guide.txt
  'z80'
  'inc'
  'asm'
  'gb.s'
  's'
]
'name': 'RGBDS Assembly'
'scopeName': 'source.asm.rgbasm'
'patterns': [
  {
    'captures':
      '2':
        'name': 'variable.language.register.8-bit.rgbasm'
    'match': '(,|\\s*)?(?<!\\.)\\b(?i:(a|b|c|d|e|h|l))\\b(?!\\.)'
    'name': 'meta.register.8-bit.rgbasm'
  }
  {
    'captures':
      '2':
        'name': 'variable.language.register.16-bit.rgbasm'
      '3':
        'name': 'meta.brace.square.rgbasm'
      '4':
        'name': 'variable.language.register.16-bit.rgbasm'
      '5':
        'name': 'keyword.operator.increment-decrement.rgbasm'
    'match': '(,)?\\s*\\b(?i:(af|sp|(\\[?(bc|de|hl(\\+|-|i|d)?)\\]?)))\\b,?'
    'name': 'meta.register.16-bit.rgbasm'
  }
  {
    'match': '\\s*\\b(?i:STR(LEN|CAT|CMP|IN|SUB|UPR|LWR)|BANK|DEF|HIGH|LOW|FUNC|DIV|MUL|A?(SIN|COS|TAN2?))(?=\\()\\b'
    'name': 'support.function.rgbasm'
  }
  {
    'match': '_(?i:PI|RS|NARG|_LINE__|_FILE__|_DATE__|_TIME__|_ISO_8601_LOCAL__|_ISO_8601_UTC__|_UTC_YEAR__|_UTC_MONTH__|_UTC_DAY__|_UTC_HOUR__|_UTC_MINUTE__|_UTC_SECOND__|_RGBDS_MAJOR__|_RGBDS_MINOR__|_RGBDS_PATCH__)'
    'name': 'support.constant.rgbasm'
  }
  {
    'match': ';.*$'
    'name': 'comment.line.semicolon.rgbasm'
  }
  {
    'match': '(^|\\s*|\\:)\\b(?i:ld(i|d|h)?|push|pop|ad(d|c)|sub|sbc|and|x?or|cp|inc|dec|daa|cpl|rlca|rla|rrca|rra|rlc|rl|rrc|rr|sla|swap|sra|srl|bit|res|set|ccf|scf|nop|halt|stop|di|ei|rst)\\b\\s'
    'name': 'keyword.other.mnemonic.rgbasm'
  }
  {
    'captures':
      '1':
        'name': 'keyword.other.mnemonic.rgbasm'
      '4':
        'name': 'keyword.control.condition.rgbasm'
    'match': '\\s*(?i:(j(p|r)|call|reti?))(\\s+(?i:(n?(z|c))))?\\b'
    'name': 'meta.branch.rgbasm'
  }
  {
    'match': '(\\[|\\])'
    'name': 'meta.brace.square.rgbasm'
  }
  {
    'match': '\\b[0-9]+\\b'
    'name': 'constant.numeric.decimal.rgbasm'
  }
  {
    'match': '\\$[0-9a-fA-F]+'
    'name': 'constant.numeric.hexadecimal.rgbasm'
  }
  {
    'match': '%[01]+'
    'name': 'constant.numeric.binary.rgbasm'
  }
  {
    'match': '&[0-7]+'
    'name': 'constant.numeric.octal.rgbasm'
  }
  {
    'match': '`[0-3]+'
    'name': 'constant.numeric.graphics.rgbasm'
  }
  {
    'match': '[0-9]\\.[0-9]'
    'name': 'constant.numberic.fixpoint.rgbasm'
  }
  {
    'match': '\\s*\\b(?i:MACRO|ENDM|IF|ELIF|ELSE|ENDC|REPT|ENDR|DB|DW|DS|INCLUDE|INCBIN|EQUS?|SET|RSSET|RSRESET|RB|RW|RL|EXPORT|GLOBAL|PURGE|SHIFT|UNION|NEXTU|ENDU|PRINTT|PRINTV|PRINTF|FAIL|WARN|OPT|PUSHS|POPS|PUSHO|POPO|OPT)\\b'
    'name': 'keyword.other.directive.rgbasm'
  }
  {
    'match': '\\s*\\bSECTION\\b'
    'name': 'storage.type.section.rgbasm'
  }
  {
    'match': '\\s*\\b(ROM0|ROMX|VRAM|SRAM|WRAM0|WRAMX|OAM|HRAM|ALIGN|BANK|HOME|BSS)\\b'
    'name': 'storage.modifier.section.rgbasm'
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.rgbasm'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.rgbasm'
    'name': 'string.quoted.double.rgbasm'
    'patterns': [
      {
        'include': '#string_escaped_char'
      }
      {
        'include': '#string_placeholder'
      }
    ]
  }
  {
    'captures':
      '2':
        'name': 'entity.name.function.label.global.rgbasm'
      '3':
        'name': 'keyword.operator.label.scope.rgbasm'
      '4':
        'name': 'entity.name.function.label.rgbasm'
      '5':
        'name': 'keyword.operator.label.definition.rgbasm'
    'match': '^(([a-zA-Z_][a-zA-Z_0-9\\@]*)?(\\.))?([a-zA-Z_][a-zA-Z_0-9\\@]*)\\s*[\\:{0,2}\\s]'
    'name': 'entity.name.label.definition.rgbasm'
  }
  {
    'captures':
      '2':
        'name': 'entity.name.function.label.global.rgbasm'
      '3':
        'name': 'keyword.operator.label.scope.rgbasm'
      '4':
        'name': 'entity.name.function.label.rgbasm'
    'match': '\\s*(([a-zA-Z_][a-zA-Z_0-9\\@]*)?(\\.))?([a-zA-Z_][a-zA-Z_0-9\\@]*)(?![\\:\\.])\\b'
    'name': 'entity.name.label.identifier.rgbasm'
  }
#  {
#    'match': '!|%|&amp;|\*|\-|\+|~|/|\^|==|=|!=|&lt;=|&gt;=|&lt;&gt;|&lt;|&gt;|&amp;    | endrelocate|inclabels|var|tvar|tempvar|varloc|dvar|struct|db|byte|text|dw|word|incbin|rlemode
# &amp;|\|\||\||\.?'
#    'name': 'keyword.operator.rgbasm'
#  }
]
